<a href="https://colab.research.google.com/github/NatanRod99/Analise-De-Credito/blob/main/Estudo_Educa%C3%A7%C3%A3o_Global.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
# Try reading the CSV with a different encoding
df = pd.read_csv('/content/Global_Education.csv', encoding='latin-1')
print(df.head())  # Display the first few rows of the DataFrame

In [10]:
df.head()

,Countries and areas,Latitude,Longitude,OOSR_Pre0Primary_Age_Male,OOSR_Pre0Primary_Age_Female,OOSR_Primary_Age_Male,OOSR_Primary_Age_Female,OOSR_Lower_Secondary_Age_Male,OOSR_Lower_Secondary_Age_Female,OOSR_Upper_Secondary_Age_Male,...,Primary_End_Proficiency_Reading,Primary_End_Proficiency_Math,Lower_Secondary_End_Proficiency_Reading,Lower_Secondary_End_Proficiency_Math,Youth_15_24_Literacy_Rate_Male,Youth_15_24_Literacy_Rate_Female,Birth_Rate,Gross_Primary_Education_Enrollment,Gross_Tertiary_Education_Enrollment,Unemployment_Rate
0,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,44,...,13,11,0,0,74,56,32.49,104.0,9.7,11.12
1,Albania,41.153332,20.168331,4,2,6,3,6,1,21,...,0,0,48,58,99,100,11.78,107.0,55.0,12.33
2,Algeria,28.033886,1.659626,0,0,0,0,0,0,0,...,0,0,21,19,98,97,24.28,109.9,51.4,11.70
3,Andorra,42.506285,1.521801,0,0,0,0,0,0,0,...,0,0,0,0,0,0,7.20,106.4,0.0,0.00
4,Angola,11.202692,17.873887,31,39,0,0,0,0,0,...,0,0,0,0,0,0,40.73,113.5,9.3,6.89

In [9]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [15]:
renomear_colunas = {
    'Countries and areas': 'Países e áreas',
    'Latitude': 'Latitude',
    'Longitude': 'Longitude',
    'OOSR_Pre0Primary_Age_Male': 'Taxa de crianças fora da escola, pré-primário, masculino',
    'OOSR_Pre0Primary_Age_Female': 'Taxa de crianças fora da escola, pré-primário, feminino',
    'OOSR_Primary_Age_Male': 'Taxa de crianças fora da escola, primário, masculino',
    'OOSR_Primary_Age_Female': 'Taxa de crianças fora da escola, primário, feminino',
    'OOSR_Lower_Secondary_Age_Male': 'Taxa de crianças fora da escola, ensino fundamental II, masculino',
    'OOSR_Lower_Secondary_Age_Female': 'Taxa de crianças fora da escola, ensino fundamental II, feminino',
    'OOSR_Upper_Secondary_Age_Male': 'Taxa de crianças fora da escola, ensino médio, masculino',
    'OOSR_Upper_Secondary_Age_Female': 'Taxa de crianças fora da escola, ensino médio, feminino',
    'Primary_End_Proficiency_Reading': 'Proficiência em leitura no final do ensino fundamental',
    'Primary_End_Proficiency_Math': 'Proficiência em matemática no final do ensino fundamental',
    'Lower_Secondary_End_Proficiency_Reading': 'Proficiência em leitura no final do ensino fundamental II',
    'Lower_Secondary_End_Proficiency_Math': 'Proficiência em matemática no final do ensino fundamental II',
    'Youth_15_24_Literacy_Rate_Male': 'Taxa de alfabetização de jovens de 15 a 24 anos, masculino',
    'Youth_15_24_Literacy_Rate_Female': 'Taxa de alfabetização de jovens de 15 a 24 anos, feminino',
    'Birth_Rate': 'Taxa de natalidade',
    'Gross_Primary_Education_Enrollment': 'Matrícula bruta no ensino fundamental',
    'Gross_Tertiary_Education_Enrollment': 'Matrícula bruta no ensino superior',
    'Unemployment_Rate': 'Taxa de desemprego'
}

df = df.rename(columns=renomear_colunas)

In [21]:
df.head(30)

,Países e áreas,Latitude,Longitude,"Taxa de crianças fora da escola, pré-primário, masculino","Taxa de crianças fora da escola, pré-primário, feminino","Taxa de crianças fora da escola, primário, masculino","Taxa de crianças fora da escola, primário, feminino","Taxa de crianças fora da escola, ensino fundamental II, masculino","Taxa de crianças fora da escola, ensino fundamental II, feminino","Taxa de crianças fora da escola, ensino médio, masculino",...,Proficiência em leitura no final do ensino fundamental,Proficiência em matemática no final do ensino fundamental,Proficiência em leitura no final do ensino fundamental II,Proficiência em matemática no final do ensino fundamental II,"Taxa de alfabetização de jovens de 15 a 24 anos, masculino","Taxa de alfabetização de jovens de 15 a 24 anos, feminino",Taxa de natalidade,Matrícula bruta no ensino fundamental,Matrícula bruta no ensino superior,Taxa de desemprego
0,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,44,...,13,11,0,0,74,56,32.49,104.0,9.7,11.12
1,Albania,41.153332,20.168331,4,2,6,3,6,1,21,...,0,0,48,58,99,100,11.78,107.0,55.0,12.33
2,Algeria,28.033886,1.659626,0,0,0,0,0,0,0,...,0,0,21,19,98,97,24.28,109.9,51.4,11.70
3,Andorra,42.506285,1.521801,0,0,0,0,0,0,0,...,0,0,0,0,0,0,7.20,106.4,0.0,0.00
4,Angola,11.202692,17.873887,31,39,0,0,0,0,0,...,0,0,0,0,0,0,40.73,113.5,9.3,6.89
5,Anguilla,18.220554,63.068615,14,0,0,0,0,0,0,...,0,0,0,0,0,0,0.00,0.0,0.0,0.00
6,Antigua and Barbuda,17.060816,61.796428,14,4,4,1,1,2,14,...,0,0,0,0,0,0,15.33,105.0,24.8,0.00
7,Argentina,38.416097,63.616672,2,2,0,0,0,0,15,...,46,56,48,31,99,100,17.02,109.7,90.0,9.79
8,Armenia,40.069099,45.038189,52,50,9,9,11,9,16,...,0,55,0,50,0,0,13.99,92.7,54.6,16.99
9,Australia,25.274398,133.775136,13,14,0,0,2,3,10,...,0,64,80,78,0,0,12.60,100.3,113.1,5.27
10,Austria,47.516231,14.550072,0,0,0,0,1,0,10,...,98,0,76,79,0,0,9.70,103.1,85.1,4.67
11,Azerbaijan,40.143105,47.576927,32,19,10,7,0,0,0,...,81,0,0,0,0,0,14.00,99.7,27.7,5.51
12,The Bahamas,25.034280,77.396280,0,0,0,0,23,21,29,...,0,0,0,0,0,0,13.97,81.4,15.1,10.36
13,Bahrain,26.066700,50.557700,31,28,2,3,7,0,18,...,0,0,0,39,100,99,13.99,99.4,50.5,0.71
14,Bangladesh,23.684994,90.356331,0,0,0,0,0,0,41,...,44,32,54,57,94,96,18.18,116.5,20.6,4.19
15,Barbados,13.193887,59.543198,6,10,1,2,7,3,7,...,0,0,0,0,0,0,10.65,99.4,65.4,10.33
16,Belarus,53.709807,27.953389,0,4,1,2,1,1,6,...,0,0,77,71,100,100,9.90,100.5,87.4,4.59
17,Belgium,50.503887,4.469936,3,2,1,0,1,1,1,...,0,0,79,80,0,0,10.30,103.9,79.7,5.59
18,Belize,17.189877,88.497650,18,16,1,1,9,11,38,...,0,0,0,0,0,0,20.79,111.7,24.7,6.41
19,Benin,9.307690,2.315834,15,16,3,10,27,43,46,...,23,11,0,0,70,52,36.22,122.0,12.3,2.23
20,Bhutan,27.514162,90.433601,58,59,5,2,18,6,33,...,0,0,56,0,0,0,17.26,100.1,15.6,2.34
21,Bolivia,16.290154,63.588653,9,8,5,5,13,14,22,...,0,0,0,0,0,0,21.75,98.2,0.0,3.50
22,Bosnia and Herzegovina,43.915886,17.679076,72,73,0,0,0,0,22,...,0,0,46,42,0,0,8.11,0.0,23.3,18.42
23,Botswana,22.328474,24.684866,79,78,12,10,0,0,0,...,0,16,0,0,0,0,24.82,103.2,24.9,18.19
24,Brazil,14.235004,51.925280,0,1,1,1,2,3,16,...,53,52,50,32,99,99,13.92,115.4,51.3,12.08
25,British Virgin Islands,18.420695,64.639968,9,2,4,3,8,7,24,...,0,0,0,0,0,0,0.00,0.0,0.0,0.00
26,Brunei,4.535277,114.727669,17,18,0,0,0,0,19,...,0,0,48,52,100,100,14.90,103.2,31.4,9.12
27,Bulgaria,42.733883,25.485830,19,20,13,13,12,13,10,...,95,75,53,56,0,0,8.90,89.3,71.0,4.34
28,Burkina Faso,12.238333,1.561593,81,81,21,22,48,44,67,...,21,22,0,0,62,55,37.93,96.1,6.5,6.26
29,Burundi,3.373056,29.918886,52,50,9,6,36,31,67,...,7,40,0,0,0,0,39.01,121.4,6.1,1.43

In [18]:
df.describe()

,Latitude,Longitude,"Taxa de crianças fora da escola, pré-primário, masculino","Taxa de crianças fora da escola, pré-primário, feminino","Taxa de crianças fora da escola, primário, masculino","Taxa de crianças fora da escola, primário, feminino","Taxa de crianças fora da escola, ensino fundamental II, masculino","Taxa de crianças fora da escola, ensino fundamental II, feminino","Taxa de crianças fora da escola, ensino médio, masculino","Taxa de crianças fora da escola, ensino médio, feminino",...,Proficiência em leitura no final do ensino fundamental,Proficiência em matemática no final do ensino fundamental,Proficiência em leitura no final do ensino fundamental II,Proficiência em matemática no final do ensino fundamental II,"Taxa de alfabetização de jovens de 15 a 24 anos, masculino","Taxa de alfabetização de jovens de 15 a 24 anos, feminino",Taxa de natalidade,Matrícula bruta no ensino fundamental,Matrícula bruta no ensino superior,Taxa de desemprego
count,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000,...,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000
mean,25.081422,55.166928,19.658416,19.282178,5.282178,5.569307,8.707921,8.831683,20.292079,19.975248,...,10.717822,10.376238,25.787129,24.450495,35.801980,35.084158,18.914010,94.942574,34.392574,6.000000
std,16.813639,45.976287,25.007604,25.171147,9.396442,10.383092,13.258203,14.724717,21.485592,23.140376,...,24.866101,22.484423,33.181384,31.965467,45.535186,45.249643,10.828184,29.769338,29.978206,5.273136
min,0.023559,0.824782,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,11.685062,18.665678,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.250000,0.250000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,10.355000,97.200000,9.000000,2.302500
50%,21.207861,43.518091,9.000000,7.000000,1.000000,1.000000,2.000000,2.000000,15.000000,12.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,17.550000,101.850000,24.850000,4.585000
75%,39.901792,77.684945,31.000000,30.000000,6.000000,6.750000,12.750000,10.750000,32.750000,30.000000,...,0.000000,0.000000,56.750000,50.750000,94.000000,96.750000,27.692500,107.300000,59.975000,8.655000
max,64.963051,178.065032,96.000000,96.000000,58.000000,67.000000,61.000000,70.000000,84.000000,89.000000,...,99.000000,89.000000,89.000000,94.000000,100.000000,100.000000,46.080000,142.500000,136.600000,28.180000